<html>
	<head>
		<title>Jeudi Croissant</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
	</head>
	<body>
		<div id="title">Jeudi Croissants</div>
		<div>Hello ! Next time <span class="next">{{next}}</span> will have to bring the food ! </div>
		<div>
		    <table class="schedule">
		        {%for key, value in matrix%}
		            <tr>
		                <td>{{key}}</td>
		                {% for item in value %}
		                    <td>{{item}}</td>
				        {%endfor%}
		            </tr>
		        {%endfor%}
		    </table>
		</div>
	</body>
</html>
