@CHARSET "UTF-8";

#title
{
    font-weight: bold;
    margin-bottom: 20px;
}

.schedule
{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
}

.schedule tr td:first-child
{
    border: 1px solid black;
    width: 100px;	
}

.schedule tr td:not(:first-child)
{
    border: 1px solid black;
    width: 10px;	
}

.next
{
    font-weight: bold;
}